* {
    margin: 0;
    padding: 0;
}

.calculator {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #701e5e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* 添加居中对齐 */
}

.screen {
    width: 90%;
    /* 调整输入框宽度 */
    margin: 0 auto;
    /* 设置居中 */
    margin-bottom: 15px;
    padding: 10px;
    font-size: 24px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "ac-button del-button mod divide"
        "seven eight nine multiplyy"
        "four five six subb"
        "one two three addd"
        "dot zero log e"
        "sin cos tan left"
        "right right equal equal";
    /*网格布局设置计算器形状*/
    grid-gap: 5px;
}

.ac-button {
    grid-area: ac-button;
}

.del-button {
    grid-area: del-button;
}

.mod {
    grid-area: mod;
}

.divide {
    grid-area: divide;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine
}

.multiply {
    grid-area: multiplyy;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.sub {
    grid-area: subb;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.add {
    grid-area: addd;
}

.dot {
    grid-area: dot;
}

.zero {
    grid-area: zero;
}

.log {
    grid-area: log;
}

.e {
    grid-area: e;
}

.sin {
    grid-area: sin;
}

.cos {
    grid-area: cos;
}

.tan {
    grid-area: tan;
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
}

.equal {
    grid-area: equal;
    background-color: rgb(49, 110, 231);
}


button {
    padding: 15px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d0d0d0;
}

.equal:hover {
    background-color: cadetblue;
}

button:active {
    background-color: #c0c0c0;
}

.del-button {
    background-color: #ff6666;
    color: #fff;
}

.ac-button {
    background-color: #ff9933;
    color: #fff;
}